software/java/sample-receiver.iml
software/java/.idea/.name
software/java/.idea/artifacts/sample_receiver_war.xml
software/java/.idea/artifacts/sample_receiver_war_exploded.xml
software/java/.idea/compiler.xml
software/java/.idea/copyright/profiles_settings.xml
software/java/.idea/encodings.xml
software/java/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_1.xml
software/java/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_1.xml
software/java/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
software/java/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
software/java/.idea/misc.xml
software/java/.idea/modules.xml
software/java/.idea/scopes/scope_settings.xml
software/java/.idea/vcs.xml
software/java/.idea/workspace.xml
software/java/SESAM_LOGS_IS_UNDEFINED/duke-receiver.log
software/java/sample-receiver/.idea/artifacts/sample_receiver_war.xml
software/java/sample-receiver/.idea/artifacts/sample_receiver_war_exploded.xml
software/java/sample-receiver/.idea/copyright/profiles_settings.xml
software/java/sample-receiver/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_1.xml
software/java/sample-receiver/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_1.xml
software/java/sample-receiver/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
software/java/sample-receiver/.idea/libraries/Maven__jetty_servlet_api_2_5.xml
software/java/sample-receiver/.idea/libraries/Maven__jetty_servlet_api_2_5_6_0_2.xml
software/java/sample-receiver/.idea/libraries/Maven__junit_junit_4_11.xml
software/java/sample-receiver/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
software/java/sample-receiver/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
software/java/sample-receiver/.idea/scopes/scope_settings.xml
software/java/sample-receiver/.idea/workspace.xml
software/java/target/checkstyle-cachefile
software/java/target/checkstyle-checker.xml
software/java/target/checkstyle-result.xml
software/java/target/classes/logback.xml
software/java/target/classes/no/bouvet/sesam/sdshare/PushReceiverServlet.class
software/java/target/classes/no/bouvet/sesam/sdshare/SDSRequest.class
software/java/target/classes/no/bouvet/sesam/sdshare/SLF4JLogger.class
software/java/target/maven-archiver/pom.properties
software/java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
software/java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
software/java/target/sdshare-push-receiver.war
software/java/target/sdshare-push-receiver/WEB-INF/classes/logback.xml
software/java/target/sdshare-push-receiver/WEB-INF/classes/no/bouvet/sesam/sdshare/PushReceiverServlet.class
software/java/target/sdshare-push-receiver/WEB-INF/classes/no/bouvet/sesam/sdshare/SDSRequest.class
software/java/target/sdshare-push-receiver/WEB-INF/classes/no/bouvet/sesam/sdshare/SLF4JLogger.class
software/java/target/sdshare-push-receiver/WEB-INF/lib/logback-classic-1.1.1.jar
software/java/target/sdshare-push-receiver/WEB-INF/lib/logback-core-1.1.1.jar
software/java/target/sdshare-push-receiver/WEB-INF/lib/slf4j-api-1.7.6.jar
software/java/target/sdshare-push-receiver/WEB-INF/web.xml
software/java/target/sdshare-push-receiver/index.html
software/java/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
software/java/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
software/java/logs/sds-receiver.log
software/java/target/sdshare-push-receiver/WEB-INF/lib/logback-classic-1.1.2.jar
software/java/target/sdshare-push-receiver/WEB-INF/lib/logback-core-1.1.2.jar