<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <configSections>
    <section name="SdShareReceiverConfigurationSection" type="SdShare.Configuration.SdShareReceiverConfigurationSection, SdShare.Core"/>
  </configSections>
  <appSettings>
    <add key="ReceiverType" value="TestHost.MyReceiver, TestHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>

  <SdShareReceiverConfigurationSection>
    <Receivers>
      <add name="X" type="TestHost.Default, TestHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add name="Y" type="TestHost.Default2, TestHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <add name="Z" type="TestHost.Quant, TestHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" graph="http://data.ifs/workorders" />
    </Receivers>
  </SdShareReceiverConfigurationSection>

</configuration>