<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SdShareReceiverConfigurationSection" type="SdShare.Configuration.SdShareReceiverConfigurationSection, SdShare.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="ReceiverType" value="TestHost.MyReceiver, TestHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </appSettings>

  <SdShareReceiverConfigurationSection port="9010">
    <Receivers>
      <add name="MyReceiver" type="TestHost.MyReceiver, TestHost" labels="QUANT-INN-02;QUANT-INN-99;SomeOtherLabel" idempotent="true" idempotencyCacheStrategy="file" idempotencyCacheExpirationSpan="00:20:00" />
      <add name="MyReceiver2" type="TestHost.MyReceiver, TestHost" labels="IFS-INN-03;Xxx" idempotent="true" idempotencyCacheStrategy="file" idempotencyCacheExpirationSpan="00:20:00" />
    </Receivers>
  </SdShareReceiverConfigurationSection>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" />
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message} {exception:format=ToString,StackTrace}${newline}" fileName="log.log" archiveFileName="log.{#}.log" archiveEvery="Hour" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
      <target name="exceptions" xsi:type="File" layout="${longdate} ${logger} ${message} ${exception:format=ToString,StackTrace}${newline}" fileName="exceptions.log" archiveFileName="exceptions.{#}.log" archiveEvery="Hour" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
      <target name="orphans" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="orphans.log" archiveFileName="orphans.{#}.log" archiveEvery="Hour" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="SdShare.PushReceiver.Exceptions" minlevel="Debug" writeTo="exceptions" />
      <logger name="SdShare.PushReceiver.Orphans" minlevel="Debug" writeTo="orphans" />
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>