<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SdShareReceiverConfigurationSection" type="SdShare.Configuration.SdShareReceiverConfigurationSection, SdShare.Core"/>
  </configSections>
  <SdShareReceiverConfigurationSection port="9000">
    <Receivers>
      <add name="A" type="TestUtils.StubFragmentReceiverTypeA, TestUtils" />
      <add name="B" type="TestUtils.StubFragmentReceiverTypeB, TestUtils" graph="http://test/graph"/>
    </Receivers>
  </SdShareReceiverConfigurationSection>
</configuration>